* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

button {
    border: none;
    padding: 0;

    background-color: transparent;
    cursor: pointer;
    font-family: inherit;
    font-size: 18px;
}

button:disabled {
    opacity: 0.5;
    color: inherit;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 8px 0;
}

h1 {
    margin: 8px 0;
}

.landing-page-container {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.header-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 8px;
}

.header-cta {
    transition: transform 0.5s ease-in-out;
}

.header-cta:hover {
    transform: translateY(-5px);
}

.features {
    display: flex;
    flex-direction: column;
    min-height: 150px;
}

.colors {
    display: flex;
    flex: 1 1 auto;
}

.colors__square {
    flex: 1 1 auto;
    min-height: 50px;
    max-height: 100px;
}

.color-square {
    border: 1px solid #808080;
    display: block;
    width: 24px;
    height: 24px;
    margin: 8px 8px 0 0;

    cursor: pointer;
}

input:checked + .color-square {
    border: 2px solid #7a0000;
}

.container {
    padding: 8px;
}

.app-container {
    margin: 0 auto;
    width: 340px;
}

.canvas-container {
    position: relative;
    height: 340px;
    width: 340px;
}

.canvas-container canvas {
    border: 1px solid #000000;
    position: absolute;
    top: 0;
    left: 0;
}

.colors-container {
    display: flex;
    flex-wrap: wrap;
}

.place-button {
    border: 1px solid #000000;
    border-radius: 24px;
    padding: 12px 8px;
    width: 100%;
}

.continue-with-google-button {
    border: 1px solid #000000;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    padding: 4px 8px;
}

.icon {
    height: 24px;
    width: 24px;
}

.mh-100 {
    min-height: 100vh;
}

.d-none {
    display: none;
}

.fw-800 {
    font-weight: 800;
}

.mr-1 {
    margin-right: 8px;
}

.mb-2 {
    margin-bottom: 16px;
}

.p-2 {
    padding: 16px;
}

.fs-2 {
    font-size: 20px;
}

.bg-color-pink {
    background-color: #e8c5e8;
    color: #000000;
}

.color-red {
    color: #e50000;
}

.t-center {
    text-align: center;
}

.t-right {
    text-align: right;
}

.dark {
    background-color: #333333;
    color: #ffffff;
}

.dark svg {
    fill: #ffffff;
}

.dark button {
    color: #ffffff;
}

.dark .continue-with-google-button,
.dark .place-button {
    border-color: #ffffff;
}

.dark .color-red {
    color: #ffbfbf;
}

@media (min-width: 800px) {
    header {
        align-items: normal;
        flex-direction: row;
    }

    .header-left {
        margin: 0;
    }

    .features {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
    .container {
        margin: 0 auto;
        max-width: 1200px;
        padding: 24px 0;
    }
}
